body {
    background-color:beige;
    margin: 0px;
}

.upperDiv {
    background-color: burlywood;
    
}

.middleDiv {
    background-color: green;
    height: 300px;
    width: 300px;
}

.lowerDiv {
    background-color: blue;
    height: 300px;
    width: 300px;
}